<div *ngIf="isRegister">
	<h3>{{name}}</h3>
	<div class="form jumbotron col-lg-4 col-xs-4">
		<form [formGroup]="userData">
			<div class="form-group">
				<label>UserName:</label>
      <input 
      type="text" 
      class="form-control" 
      formControlName="name" 
      required
      />
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input 
      type="email" 
      class="form-control" 
      formControlName="email" 
      required
      />
    </div>
    <div class="form-group">
      <label>Phone-No:</label>
      <input 
      type="number" 
      class="form-control" 
      formControlName="phone" 
      required
      />
    </div>
    <div class="form-group">
      <label>password:</label>
      <input 
      type="password" 
      class="form-control" 
      formControlName="pwd" 
      required
      />
    </div>
    <div>
      <button class="btn btn-primary" (click)="check()">SignUp</button>
    </div>
  </form>
</div>
</div>

<div *ngIf="isLogin">
  <app-login></app-login>
</div>